In [8]:
import yfinance as yf
import pandas as pd
import numpy as np
import pickle

a description of world indices symbol-name pair   
https://finance.yahoo.com/world-indices

In [3]:
index_list = ['^GSPC', '^IXIC', '^RUT']
sp500 = yf.download(index_list[0], start="2000-01-01", end="2022-06-30")
nasdaq = yf.download(index_list[1], start="2000-01-01", end="2022-06-30")
russell2000 = yf.download(index_list[2], start="2000-01-01", end="2022-06-30")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [7]:
sp500

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-03,1469.250000,1478.000000,1438.359985,1455.219971,1455.219971,931800000
2000-01-04,1455.219971,1455.219971,1397.430054,1399.420044,1399.420044,1009000000
2000-01-05,1399.420044,1413.270020,1377.680054,1402.109985,1402.109985,1085500000
2000-01-06,1402.109985,1411.900024,1392.099976,1403.449951,1403.449951,1092300000
2000-01-07,1403.449951,1441.469971,1400.729980,1441.469971,1441.469971,1225200000
...,...,...,...,...,...,...
2022-06-23,3774.709961,3802.580078,3743.520020,3795.729980,3795.729980,4078100000
2022-06-24,3821.750000,3913.649902,3821.750000,3911.739990,3911.739990,6742870000
2022-06-27,3920.760010,3927.719971,3889.659912,3900.110107,3900.110107,3385120000
2022-06-28,3913.000000,3945.860107,3820.139893,3821.550049,3821.550049,3590980000
2022-06-29,3825.090088,3836.500000,3799.020020,3818.830078,3818.830078,3458850000

In [10]:
with open('data/sp500.pkl', 'wb') as f:
    pickle.dump(sp500, f)

with open('data/nasdaq.pkl', 'wb') as f:
    pickle.dump(nasdaq, f)

with open('data/russell2k.pkl', 'wb') as f:
    pickle.dump(russell2000, f)